body{
	background: #c4c4c4;
	text-align:left;
	font-family:Helvetica;
}
p{
	letter-spacing: 1px;
}

.show{
	background-color: white;
	color: black;
}
.Rbox{
	color: #151E3D;
	background: #fff;
}
.Rcontent{
	background-color: fff;
	color: #151E3D;
	border-bottom: 1px solid #0175b2;
	text-align:left;
}
.Lcontent{
	padding: 2%;
	background-color: #151E3D;
	color: white;
	border-bottom: 1px solid #0175b2;
}
.row{
	margin-top: 5%;
	margin-right: 1%;
	margin-left: 1%;
	min-height: 100px;
	text-align:center;
}
.vl {
	border-left: 6px solid #151E3D; /*for the vertical line*/
	height: 86px;
}
.icon{
	color: #151E3D;
	margin-bottom: 5px;
	font-weight : bold;
}